# Derived
*.tsbuildinfo
stats.html
stats-*.html
dist
.solid
.output
.vinxi
.yarn-error.log
/dominion/dominion

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Provider
.vercel
.wrangler

# Environment
.env
.env*.local
.github/secret

# dependencies
node_modules
.react-email
/target
vendor/

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# System Files
.DS_Store
Thumbs.db

# Data directory
/data

# Oscar's staging area
/_
/policy.yaml
/out
/TODO

# Nx
.nx/cache
