:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.disable-animations * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition:
    background-color 0s,
    opacity 0s,
    color 0s,
    width 0s,
    height 0s,
    padding 0s,
    margin 0s !important;
}
