name: CI

on:
  push:
  pull_request:
  merge_group:

jobs:
  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: pnpm i

      - name: Typecheck
        run: pnpm typecheck
